<div class="container-fluid">
  <div class="head_page">
    <div id="head1">
      <h1 class="title">Panel administracyjny</h1>
    </div>
  </div>

  <div class="voidType">
    <div class="head_void">
      <h3>Rodzaj wyborów</h3>
    </div>
  </div>
  <section class="flex-column">
    <div class="voidRegion">
      <div class="head_void">
        <h3>Region wyborów</h3>
      </div>
      <h4>Wybierz region dla którego chcesz aktywować wybory</h4>
      <div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="table-region">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th class="colID" scope="col">ID</th>
                  <th class="colName" scope="col">Nazwa regionu</th>
                  <th class="colID_NAME" scope="col">ID Regionu</th>
                  <th class="colDATA_START" scope="col">Data rozpoczęcia</th>
                  <th class="colDATA_END" scope="col">Data zakończenia</th>
                  <th class="colBtn" scope="col">Opcje</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Kujawsko-Pomorskie</td>
                  <td>dsf</td>
                  <td>sdf</td>
                  <td>sfd</td>
                  <td>
                    <a>
                      <button type="button" class="btn btn-primary m-1">Wybierz</button>
                    </a>
                    <form method="POST">
                      <button type="submit" class="btn btn-danger m-1">Usuń</button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>
  <section class="flex-column">
    <div class="voidRegion">
      <div class="head_void">
        <h3>Kandydaci</h3>
      </div>
      <h4>Kandydaci, którzy biorą udział w wyborach</h4>
    </div>
    <div class="tablecandidateshow">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="table-candidate">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th class="colID" scope="col">ID</th>
                <th class="colName" scope="col">Imię </th>
                <th class="colLastname" scope="col">Nazwisko</th>
                <th class="colPesel" scope="col">PESEL</th>
                <th class="colPesel" scope="col">Numer listy / Partia</th>
                <th class="colID" scope="col">Pozycja</th>
                <th class="colName" scope="col">Region</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>Kujawsko-Pomorskie</td>
                <td>dsf</td>
                <td>96101403334</td>
                <td>sfd</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="addButton">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCandidate">
            Dodaj kandydata
          </button>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
</div>

<!-- Modal -->
<div class="modal fade" id="addCandidate" tabindex="-1" role="dialog" aria-labelledby="addCandidateTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="addCandidateTitle">Dodawania kandydata</h3>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="NameCandidate">Imię kandydata </label>
            <input type="text" class="form-control" id="NameCandidate" aria-describedby="emailHelp"
              placeholder="Podaj imię kandydata">
          </div>
          <div class="form-group">
            <label for="LastnameCandidate">Nazwisko kandydata</label>
            <input type="text" class="form-control" id="LastnameCandidate" placeholder="Podaj nazwisko kandydata">
          </div>
          <div class="form-group">
            <label for="PESELCandidate">PESEL kandydata</label>
            <input type="text" class="form-control" id="PESELCandidate" placeholder="Podaj PESEL kandydata">
          </div>
          <div class="form-group">
            <label for="NrList">Numer listy</label>
            <input type="text" class="form-control" id="NrList" placeholder="Numer listy">
          </div>
          <div class="form-group">
            <label for="PositionList">Pozycja na liście</label>
            <input type="text" class="form-control" id="PositionList" placeholder="Pozycja na liście">
          </div>
          <div class="form-group">
            <label for="RegionStart">Region</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Region startu">
          </div>
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>