.container-fluid{
    text-align: center;
}
hr {
    border: 5px solid grey;
    border-radius: 10px;
  }
  thead{
    background-color: rgb(63, 63, 63);
    color: white;
}
.btn-warning, .btn-danger,.btn-success{
    width: 150px;
}
.btn-success{
    margin: 15px;
}
.title{
    padding: 20px;
}
.btnPanel{
    padding-bottom: 20px ;
}