<div class="container-fluid">
  <h1 class="title">Typ wyborów</h1>
  <button type="button" class="btn btn-primary" [routerLink]="'/admin'">Powrót</button>

  <!--selected vote type -->
  <div class="btnPanel">
    <h4>Wybrany typ wyborów</h4>
  </div>
  <!-- początek tabeli-->
  <div class="table-responsive" id="selectedVoteType">
    <table id="" class="table table-striped table-dark">
      <thead>
      <tr>
        <th scope="colID">ID</th>
        <th scope="colName">Nazwa regionu</th>
        <th scope="colID_NAME">ID Regionu</th>
        <th scope="colDATA_START">Data rozpoczęcia</th>
        <th scope="colDATA_END">Data zakończenia</th>
        <th scope="colBtn">Opcje</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-warning m-1" data-toggle="modal" data-target="#votetypeModal">Edytuj
          </button>
          <form method="POST">
            <button type="submit" class="btn btn-danger m-1">
              Usuń
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <hr>
  <!--table for candidate -->
  <div class="btnPanel">
    <button type="button" class="btn btn-primary btn-lg btn-block">
      <h4>Kandydaci</h4>
    </button>
    <div id="candidates" style="display: block">
      <input style="border-radius: 5px; border-color: black;" class="btn form-control mr-sm-2" type="search"
             id="searchcandidate" placeholder="Wyszukaj kandydata" aria-label="Search">
    </div>
  </div>
  <!-- poczatek tabeli -->
  <div class="table-responsive">
    <table id="candidatetable" class="table table-striped table-dark">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Typ wyborów</th>
        <th scope="col">Numer listy</th>
        <th scope="col">Pozycja na liście</th>
        <th scope="col">Opcja</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of mockedData">
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.lastName}}</td>
        <td>{{person.voteType}}</td>
        <td>{{person.listNumber}}</td>
        <td>{{person.listPosition}}</td>
        <td>
          <button type="button" class="btn btn-warning m-1" data-toggle="modal"> Edytuj</button>
          <form method="post">
            <button type="submit" class="btn btn-danger m-1"> Usuń</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#newCandidateModal">
      Dodaj
    </button>
  </div>

  <!--modal newCandidate -->
  <div class="modal fade" id="newCandidateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Dodaj kandydata</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            <div class="form-group" style="text-align: center;">
              <h4 class="col-form-label">Imię</h4>
              <input type="text" class="form-control" placeholder="Imie">
              <h4 class="col-form-label">Nazwisko</h4>
              <input type="text" class="form-control" placeholder="Nazwisko">
              <h4 class="col-form-label">Typ wyborów</h4>
              <input type="text" class="form-control" hidden>
              <h4 class="col-form-label">Numer listy</h4>
              <input type="text" class="form-control" placeholder="Numer listy">
              <h4 class="col-form-label">Pozycja na liście</h4>
              <input type="text" class="form-control" placeholder="pozycja na liście">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Zapisz</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--modal for candidate -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Kandydat</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            <div class="form-group">
              <input type="hidden"/>
              <label class="col-form-label">Imię</label>
              <input type="text" class="form-control" placeholder="Imię" style="text-align: center">
              <label class="col-form-label">Nazwisko</label>
              <input type="text" class="form-control" placeholder="Nazwisko"
                     style="text-align: center">
              <input type="text" class="form-control" hidden>
              <label class="col-form-label">Numer listy</label>
              <input type="text" class="form-control" placeholder="Numer listy"
                     style="text-align: center">
              <label class="col-form-label">Pozycja na liście</label>
              <input type="text" class="form-control" placeholder="Pozycja na liście"
                     style="text-align: center">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">ZAMKNIJ</button>
              <button type="submit" class="btn btn-primary">ZAPISZ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!--modal for vote type -->
  <div class="modal fade" id="votetypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Edytuj rodzaj wyborów</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            <div class="form-group" ng-app="votingApp" ng-controller="regionCtrl">
              <input class="col-form-label" type="hidden"/>
              <label class="col-form-label">Nazwa</label>
              <input class="form-control" type="text" placeholder="Nazwa" style="text-align: center"/>
              <label class="col-form-label">Region</label>
              <div class="form-row">
                <div class="col-md-9 mb-3">
                  <input type="text" class="form-control sticky-keeper" ng-model="input"
                         placeholder="Wyszukaj nazwę regionu" style="text-align: center">
                  <div id="sticky-bar" class="sticky">
                    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                    <ul class="list-group">
                      <li class=" list-group-item">
                        <p>
                          <button type="button" class="btn btn-primary btn-sm"> Wybierz
                          </button>
                          Region:
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-1 mb-3">
                  <button type="button" class="btn btn-secondary">Szukaj</button>
                </div>
              </div>
              <div>
                <input type="text" class="form-control" hidden>
              </div>
              <label class="col-form-label">Wybrany region:
              </label>
              <input type="text" class="form-control" hidden>
              <label class="col-form-label">Data rozpoczęcia</label>
              <input type="text" class="form-control" placeholder="RRRR-MM-DD GG:MM:SS"
                     style="text-align: center">
              <label class="col-form-label">Data zakończenia</label>
              <input type="text" class="form-control" placeholder="RRRR-MM-DD GG:MM:SS"
                     style="text-align: center">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Zapisz</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- End container-fluid-->
</div>
