<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
</nav>
<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text">
          <h2>Panel Administracyjny</h2>
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input formControlName="login" type="text" class="form-control input-lg" placeholder="Login">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input formControlName="password" type="password" name="password" id="password" class="form-control input-lg" placeholder="Hasło">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="button">
            <input [disabled]="loginInprogress || !loginForm.valid" type="submit" value="Zaloguj" class="btn btn-success btn-block btn-lg">
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</form>
