<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
</nav>
<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text">
          <h2>Wpisz poprawne dane aby oddać głos</h2>
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input formControlName="firstName" type="text" class="form-control input-lg"
                     placeholder="Imię">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input formControlName="lastName" type="text" class="form-control input-lg"
                     placeholder="Nazwisko">
            </div>
          </div>
        </div> <!-- End row with name and lastname -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input formControlName="pesel" type="text" class="form-control input-lg"
                     placeholder="PESEL">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input formControlName="income" type="text" class="form-control input-lg"
                     placeholder="Dochód w roku ubiegłym">
            </div>
          </div>
        </div> <!-- End row with PESEL and revenue -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input formControlName="idNumber" type="text" class="form-control input-lg"
                     placeholder="Nr Dowodu">
            </div>
          </div>
        </div><!-- End row with evidence data -->
        <hr class="colorgraph">
        <div class="row">
          <div class="col">
          <span class="checkbox">
            <input formControlName="rulesCheckbox" type="checkbox">
            Akceptuje i rozumiem <a href="#" data-toggle="modal" data-target="#t_and_c_m">Postanowienia Ogólne</a>
            określone przez ustawodawce.
          </span>
          </div>
          <div class="button"><input type="submit" [disabled]="loginInprogress || !loginForm.valid" value="Przejdź do głosowania"
                                     class="btn btn-success btn-block btn-lg">
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!--<footer class="footer footer-dark bg-dark">

    </footer>-->

  <!-- regulamin wyborów -->
  <div class="modal fade" id="t_and_c_m" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Postanowienia ogólne</h4>
        </div>
        <div class="modal-body">
          <p>Każdemu wyborcy przysługuje jeden głos.</p>
          <p>Wybory do władz stowarzyszenia są bezpośrednie i tajne.</p>
          <p>Prawo zgłaszania kandydatów do Władz Stowarzyszenia mają wyłącznie delegaci obecni podczas
            Zgromadzenia
            Ogólnego.</p>
          <p>bla bla...</p>
          <p>bla...</p>
          <p>...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Błędne dane -->
  <div class="modal fade" id="errorData" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Błędne dane!</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Podane dane są nieprawidłowe! </h5>
          <p>Spróbuj jeszcze raz</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="admin-login__button">
  <a (click)="onAdminLoginClick()">Admin login</a>
</div>


