.information{
	padding-top:25px;
	padding-bottom:25px;
	padding-left: 380px;
	padding-right: 380px;
}
.comunication{
	padding:25px;
}
.section{
	display: grid;
}
.btn-success{
	float: right;
}
.table-listVoting{
	padding: 25x;
}
h2{
	text-align: center;
	padding-bottom: 25px;
}

.alert{
	border-radius: 10px;
}

.List{
	background-color:  rgb(170, 170, 170);
}

thead{
	background-color: rgb(63, 63, 63);
	color: white;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(141, 35, 35, 0.637);
  }

  th,td{
	text-align: center;
  }

.colCheck{
	width: 50px;
	text-align: center;
}
.colName{
	text-align: center;
}



