<div class="container-fluid">
    <section class="flex-column">
        <div class="information">
            <div class="alert alert-warning alert-dismissable">
                <strong>Uwaga!</strong>
                <a href="#" class="btn btn-success" data-dismiss="alert" role="button" aria-label="close">Zamknij</a>
                <br>
                <br>
                <p>Głosować można tylko na jedną listę kandydatów, zaznaczając na karcie do głosowania wybraną osobę
                    (należy kliknąć w pole wybrananego przez siebie kandydata).
                    W kratce z lewej strony obok nazwiska jednego z kandydatów z listy pojawi się znaczek, przez co
                    wskazuje się wybraną osobę do otrzymania mandatu.</p>
                <br>
                <p>W przypadku zaznaczenia pola <strong style="color: red">Chcę oddać
                        głos nieważny</strong>
                    żadna z osób nie otrzyma Twojego głosu i zostanie on podliczony jako <strong>nieważny</strong>!
                </p>
            </div>
        </div>

    </section>
    <section class="flex-column">
        <div class="comunication">
            <div>
                <!-- Tu możemy zrobić tak żeby sie to pojawiało w zależności od tego co sie aktualnie dzieje Np raport po zakończeniu głosowania
                     lub że żadne głosowanie nie jest aktywne dla nas aktuanie-->
                <h4 class="text-center">Głosowanie się zakończyło. <a href="#">Przejdź do raportu</a></h4>
            </div>
            <div>
                <h2 class="text-center" style="color: darkred"> Żadne głosowanie nie jest aktualnie dostępne dla Twojego
                    regionu. </h2>
            </div>
        </div>
    </section>
    <section class="flex-column">
        <div class="row">
            <h2>Wybierz swojego kandydata.</h2>
            <form>
                <div class="table-listVoting">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <div class="List">
                            <div class="preview-info">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="colCheck" colspan="2" scope="col">"Nazwa partii"</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Waldemar Kosiniak Kamysz</td>
                                        </tr>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Jarosław Kaczyński</td>
                                        </tr>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Chce oddać nieważny głos</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <div class="List">
                            <div class="preview-info">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="colCheck" colspan="2" scope="col">"Nazwa partii"</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Waldemar Kosiniak Kamysz</td>
                                        </tr>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Jarosław Kaczyński</td>
                                        </tr>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Chce oddać nieważny głos</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <div class="List">
                            <div class="preview-info">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="colCheck" colspan="2" scope="col">"Nazwa partii"</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Waldemar Kosiniak Kamysz</td>
                                        </tr>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Jarosław Kaczyński</td>
                                        </tr>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Chce oddać nieważny głos</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <div class="List">
                            <div class="preview-info">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="colCheck" colspan="2" scope="col">"Nazwa partii"</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Waldemar Kosiniak Kamysz</td>
                                        </tr>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Jarosław Kaczyński</td>
                                        </tr>
                                        <tr>
                                            <th><input type="radio" id="radio-button-nan"
                                                    name="radio-button-kandydat">
                                            </th>
                                            <td>Chce oddać nieważny głos</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Oddaj głos" class="btn btn-lg btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>